.stockitem {
  border: 1px solid gray;
  border-radius: 10px;
}

.stockitem_selected {
  border: 1px solid red;
}

.table {
  text-align: center;
}

.collectors {
  text-align: center;
  display: inline-block;
  padding: 0 10px;
}

.collector {
  display: inline-block;
  width: 132px;
}

.gazettes {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

.gazette {
  display: inline-block;
  width: 205px;
}

.decks {
  text-align: center;
}

.deck {
  display: inline-block;
  width: 134px;
}
