.stockitem {
  border: 1px solid gray;
  border-radius: 10px;
}

.stockitem_selected {
  border: 1px solid red;
}

.table {
  text-align: center;
}

.collectors {
  text-align: center;
  display: inline-block;
  padding: 0 10px;
}

.collector {
  display: inline-block;
  width: 132px;
}

.gazettes {
  text-align: center;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
}

.gazette {
  display: inline-block;
  width: 205px;
}

.decks {
  text-align: center;
}

.deck {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 220px;
  margin: 0 5px;
}

.paintings-wrapper {
  display: inline-block;
  text-align: center;
}

.painting {
  padding-right: 5px;
}

.painting:empty {
  height: 0px !important;
  padding-right: 0;
}

.draw-button {
  display: none;
}

.ambroise {
  position: absolute;
  background-image: url("img/ambroise.png");
  width: 80px;
  height: 80px;
  z-index: 10;
}

.muse {
  background-image: url("img/muses.png");
  top: 0px;
  left: 0px;
  width: 120px;
  height: 220px;
  border: 1px solid gray;
  border-radius: 10px;
}

.muse.absolute {
  position: absolute;
  z-index: 100;
}

.muse.green-0 {
  background-position: 0% 0%;
}
.muse.green-1 {
  background-position: -100% 0%;
}
.muse.green-2 {
  background-position: -200% 0%;
}
.muse.green-3 {
  background-position: -300% 0%;
}
.muse.green-4 {
  background-position: -400% 0%;
}
.muse.green-5 {
  background-position: -500% 0%;
}
.muse.green-6 {
  background-position: -600% 0%;
}
.muse.green-7 {
  background-position: -700% 0%;
}
.muse.green-8 {
  background-position: -800% 0%;
}

.muse.blue-0 {
  background-position: 0% -100%;
}
.muse.blue-1 {
  background-position: -100% -100%;
}
.muse.blue-2 {
  background-position: -200% -100%;
}
.muse.blue-3 {
  background-position: -300% -100%;
}
.muse.blue-4 {
  background-position: -400% -100%;
}
.muse.blue-5 {
  background-position: -500% -100%;
}
.muse.blue-6 {
  background-position: -600% -100%;
}
.muse.blue-7 {
  background-position: -700% -100%;
}
.muse.blue-8 {
  background-position: -800% -100%;
}

.muse.pink-0 {
  background-position: 0% -200%;
}
.muse.pink-1 {
  background-position: -100% -200%;
}
.muse.pink-2 {
  background-position: -200% -200%;
}
.muse.pink-3 {
  background-position: -300% -200%;
}
.muse.pink-4 {
  background-position: -400% -200%;
}
.muse.pink-5 {
  background-position: -500% -200%;
}
.muse.pink-6 {
  background-position: -600% -200%;
}
.muse.pink-7 {
  background-position: -700% -200%;
}
.muse.pink-8 {
  background-position: -800% -200%;
}

.muse.yellow-0 {
  background-position: 0% -300%;
}
.muse.yellow-1 {
  background-position: -100% -300%;
}
.muse.yellow-2 {
  background-position: -200% -300%;
}
.muse.yellow-3 {
  background-position: -300% -300%;
}
.muse.yellow-4 {
  background-position: -400% -300%;
}
.muse.yellow-5 {
  background-position: -500% -300%;
}
.muse.yellow-6 {
  background-position: -600% -300%;
}
.muse.yellow-7 {
  background-position: -700% -300%;
}
.muse.yellow-8 {
  background-position: -800% -300%;
}
.muse.empty {
  background: transparent;
}
